.cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
  }
  .abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
.contenido{
    margin: 5px;
    background-color: rgb(79, 36, 100, 5);
    border-radius: 5px;
    font-size: large;
    padding: 20px;
    align-items: center;
}
p{
    font-size: larger;
    padding: 20px;
}
h1{
    margin: 10px;
    padding: 20px;
    background-color: #eae3d1;
    border-radius: 50%;
}
.accordion-body{
    font-size: x-large;
}
.modal-body{
    font-size: x-large;
}
.btn-outline-primary{
    background: #d6e4c3;
    transition: all 0.8s;
    border-radius: 50%;
}

